body {
    font-family: 'Alata', sans-serif;
    background-color: #557A95;
}

#headerWrapper {
    background-color: #5D5C61;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#title {
    font-size: 24pt;
    font-weight: bolder;
    color: whitesmoke;
}

#byLine {
    font-size: 12pt;
    color: whitesmoke;
    float: right;
    bottom: 0px;
}

.row {
    margin-top: 10px;
}

.col-md-4 {
    padding: 0;
}

.currentLoc {
    color: black;
    /* font-weight: bold; */
}

#currentLoc {
    font-size: 14pt;
    font-weight: bolder;
    color: #501b1d;
}

#searchDiv {
    padding: 0px;
}

#searchBtn {
    font-size: 8pt;
    background-color: WHITE;
}

#currentWeatherDate {
    float: right;
}

#currentWeatherIcon {
    float: right;
}

#currentWeatherTempData {
    font-size: 16pt;
    clear: both;
}
.currentWeatherDetails {
    float: right;
}

#currentWeather {
    /* background-color: whitesmoke; */
    padding-right: 5px;
}

#searchHistoryText, #searchHistoryItems {
    text-align: center;
}

.container {
    background-color: whitesmoke;
}

.forecastText {
    font-size: 20pt;
}

.forecastDiv {
    background-color: #557A95;
    font-size: 10pt;
    margin: 15px;
}

#currentWeatherCity,
#currentWeatherTempData {
    font-size: 38pt;
}


#currentWeatherDate{
    font-size: 28pt;

}

.currentWeatherText {
    color: #501b1d;
}

.searchItem {
    width: 60%;
    margin-bottom: 5px;
}

#forecastDiv1 {
    margin-left: 35px;
}

#currentWeatherIcon {
    background-color: #557A95;
}

